<h1>Awards</h1>

<br>
<h3>Create an Award</h3>
<%= form_for Award.new do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.submit %>
<% end %>

<br>

<% @awards.each do |award| %>
  <%= award.title %>
  <br>
<% end %>