<h1>Awards:</h1>
<% @awards.each do |award| %>
  <h2><%= award.title %></h2>
<% end %>

<%= form_for [:admin, @award] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit "Submit" %>
<% end %>
